{% extends 'base.html' %}

{% block content %}

{% block carousel %}
{% include 'carousel.html' %}
{% endblock carousel %}

<div class="container demo">
  {% for post in blogposts %}
  <div class="card posts" style="width: 18rem;">
    <img class="card-img-top" src="../static/images/blog_pictures/{{ post.image_file }}" alt="{{ post.title }}">
    <div class="card-body">
      <h5 class="title">{{ post.title }}</h5>
      <a href="{{ url_for('.post', blogpost_id=post.id)}}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}