{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h5 class="mt-3 text-success">{{quotes.quote}}</h5>
  <p>~ {{quotes.author}}~ </p>
</div>

<div class="container">
  {% for post in blogposts %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../static/images/blog_pictures/{{ post.image_file }}" alt="{{ post.title }}">
      <div class="caption">
        <h3>{{ post.title }}</h3>
        <p> {{ post.content }}</p>
        <p><a href="{{ url_for('.post', blogpost_id=post.id)}}" class="btn btn-primary" role="button">Read More</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}